body {
  margin: 0;
  background: #0b0b0f;
  color: #fff;
  font-family: Inter, system-ui, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

textarea {
  width: 100%;
  height: 120px;
  background: #111;
  color: white;
  border: 1px solid #333;
  padding: 12px;
  margin-bottom: 12px;
}

select, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  background: #111;
  color: white;
  border: 1px solid #333;
}

button {
  background: linear-gradient(90deg, gold, turquoise);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

img {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
    }
